
//imports
@import './Styles/Annimations'
@import './Styles/Buttons'
@import './Styles/Fonts'
@import './Styles/Colors'
@import './Styles/Scrollbar'
@import './Styles/Homestyle'
@import './Styles/navbar'
@import './Styles/loading'
@import './Styles/main'

body
  margin : 0
  background : $BlackBack
  overflow-x : hidden 
html
  margin : 0 
code
    font-family : source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

//after to be moved to seperated file

.Container
  width : 135vh
  margin : auto

.Skills
  @include Contain()
  width : 100%
  max-height : 60vh
  margin : auto
  display : grid
  grid-template-columns : auto auto auto
  font-size : 1.8vh
  .one
    margin : auto
    display : flex
    width : 100%
    flex-direction : column
    .litleholder
      width : 30vh
      height : 25vh 
      margin : auto
      display : flex
      flex-direction : column 
      @include Contain()
      .lngholder
        width : 100%
        margin : auto
        display : flex
        h1
          font-size : 100% 

      
  .two

  .three 
  

.badgeGreen
  @include GreenBadge()
  width : 8vh
  p
    margin : auto
    text-align : center
.badgeBlue
  @include GreenBadge()
  background : $LightBlue
  border : $Blue 0.3vh solid
  width : 8vh
  p
    margin : auto
    text-align : center