body {
  margin: 0;
  background: black;
}

html {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: Hack;
  src: url("./assets/fonts/Hack-Bold.ttf");
}

@font-face {
  font-family: HackL;
  src: url("./assets/fonts/Hack-Regular.ttf");
}

@font-face {
  font-family: Nexa;
  src: url("./assets/fonts/Nexa Bold.otf");
}

@font-face {
  font-family: NexaL;
  src: url("./assets/fonts/Nexa Light.otf");
}

.bord1 {
  -webkit-clip-path: polygon(44% 0, 46% 0, 56% 100%, 54% 100%);
          clip-path: polygon(44% 0, 46% 0, 56% 100%, 54% 100%);
  position: absolute;
  top: 0;
  left: 0;
  background: #202020;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bord2 {
  -webkit-clip-path: polygon(45% 0, 46% 0, 56% 100%, 55% 100%);
          clip-path: polygon(45% 0, 46% 0, 56% 100%, 55% 100%);
  position: absolute;
  top: 0;
  left: 0;
  background: #e66700;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Devdiv {
  margin: 0;
  font-family: Hack;
  position: absolute;
  overflow: hidden;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 45% 0, 56% 100%, 0% 100%);
          clip-path: polygon(0 0, 45% 0, 56% 100%, 0% 100%);
}

.Devdiv img {
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Devdiv img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.Devdiv div {
  font-size: 45px;
  position: absolute;
  top: 40%;
  left: 10%;
  margin: auto;
  color: white;
  text-shadow: #0000001f;
}

.Devdiv div h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.Devdiv div h3 {
  margin-top: 2%;
  width: 100%;
  text-align: right;
  font-family: HackL;
}

.Desdiv {
  margin: 0;
  font-family: Nexa;
  position: absolute;
  overflow: hidden;
  right: 0;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 800px;
  -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 55% 100%);
          clip-path: polygon(45% 0, 100% 0, 100% 100%, 55% 100%);
}

.Desdiv img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Desdiv img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.Desdiv div {
  width: 23%;
  font-size: 45px;
  position: absolute;
  top: 40%;
  left: 65%;
  margin: auto;
  color: white;
  text-shadow: #0000001f;
}

.Desdiv div h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.Desdiv div h3 {
  margin-top: 2%;
  width: 100%;
  text-align: right;
  font-family: NexaL;
}

@-webkit-keyframes glide1 {
  0% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  50% {
    -webkit-transform: translatex(-20px);
            transform: translatex(-20px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

@keyframes glide1 {
  0% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  50% {
    -webkit-transform: translatex(-20px);
            transform: translatex(-20px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

@-webkit-keyframes glide2 {
  0% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  50% {
    -webkit-transform: translatex(20px);
            transform: translatex(20px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

@keyframes glide2 {
  0% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  50% {
    -webkit-transform: translatex(20px);
            transform: translatex(20px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

.gliding1 {
  -webkit-animation: glide1  3s infinite ease-in-out;
          animation: glide1  3s infinite ease-in-out;
}

.gliding2 {
  -webkit-animation: glide2  3s infinite ease-in-out;
          animation: glide2  3s infinite ease-in-out;
}
/*# sourceMappingURL=index.css.map */