
//imports
@import './Styles/Annimations'
@import './Styles/Buttons'
@import './Styles/Fonts'
@import './Styles/Colors'
@import './Styles/Scrollbar'
@import './Styles/Homestyle'
@import './Styles/navbar'
@import './Styles/loading'
@import './Styles/main'
@import './Styles/Skills'

body
  margin : 0
  background : $BlackBack
  overflow-x : hidden 
html
  margin : 0 
code
    font-family : source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

//after to be moved to seperated file

.Container
  width : 70%
  margin : auto
  height : 80vh


.badgeGreen
  @include GreenBadge()
  width : 8vh
  p
    margin : auto
    text-align : center
.badgeBlue
  @include GreenBadge()
  background : $LightBlue
  border : $Blue 0.3vh solid
  width : 8vh
  p
    margin : auto
    text-align : center


.Projects
  @include Contain()
  width : 100%
  height : 65vh
  margin : auto
.Career
  @include Contain()
  width : 100%
  height : 65vh
  margin : auto
.Links
  @include Contain()
  width : 100%
  height : 65vh
  margin : auto
.contct
  height : 10vh
  display : flex
  width : 100% 
  margin : auto
  *
    margin : auto
    animation : 3s float infinite ease-in-out
.footer
  width : 100%
  height : 10vh
  background : black
  display : flex
  font-size : 1.8vh
  *
    margin : auto 
  p
    color : gray
    font-size : 85% 
    text-align : center
    font-family : HackL 
    margin-left :  0
    margin-right :  0