
//imports
@import './Styles/Annimations'
@import './Styles/Buttons'
@import './Styles/Colors'
@import './Styles/Scrollbar'
@import './Styles/Homestyle'
@import './Styles/Devside'
@import './Styles/loading'
@import './Styles/Fonts'

body
  margin : 0
  background : $BlackBack
html
  margin : 0 
code
    font-family : source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
