
//Dev
.DevPage
  z-index : 1300
  font-family : Hack
  color : white
  width : 100%
  background : $BlackBack  
  .navbar 
    position : fixed
    background : $Black2
    height : 100px 
    width : 100%
    display : grid
    grid-template-columns : 25%  50%  8% 17%
    *
      margin : auto
    h1
      margin : auto
      margin-right : 0 
    .buttons
      width : 100%
      display : flex
      justify-content : center 
      width : auto
      button
        margin : 0 1.5%
    .Green
      margin-left : 0 
    .todesign
      button 
        position : fixed
        top : 30px
        right : -80px
        background : $Orange
        border : 0
        &:hover
          border : solid 4px $borderO
          right : -10px
        
        &:active
          background : $borderO
           
  button  
    @include ButtonBlack()
  .Green
    @include ButtonGreen()
    
.Container
  width : 100%

.main
  width : 100%
  height : 100vh 
  .summary