@mixin Contain()
  background : $ContBlack
  border : solid 0.4vh $ContBorder 
  border-radius : 2vh
  
@mixin GreenBadge()
  background : $Green
  border : solid 0.3vh $borderG 
  border-radius : 1vh 
  margin : auto

.Title
  position : relative
  top : 0
  left : 0
  width : auto
  font-size : 250%
  animation : glide1 3s ease-in-out infinite
